@page "/"
@using BootstrapBlazor.Shared
@using System.Diagnostics.CodeAnalysis

<PageTitle>Index</PageTitle>

<Tab>
    <TabItem Text="数据维护">
        <Table TItem="Foo" Items="@Items">
            <TableColumns>
                <TableColumn @bind-Field="@context.DateTime" Width="180" />
                <TableColumn @bind-Field="@context.Name" />
                <TableColumn @bind-Field="@context.Address" />
            </TableColumns>
        </Table>
    </TabItem>
</Tab>

@code {
    [NotNull]
    private IEnumerable<Foo>? Items { get; set; }
    private static readonly Random random = new();

    protected override void OnInitialized()
    {
        Items = Enumerable.Range(1, 10).Select(i => new Foo()
        {
            Id = i,
            Name = $"Foo.Name-{i:d4}",
            DateTime = System.DateTime.Now.AddDays(i - 1),
            Address = $"Foo.Address-{random.Next(1000, 2000)}",
            Count = random.Next(1, 100),
            Complete = random.Next(1, 100) > 50,
            Education = random.Next(1, 100) > 50 ? EnumEducation.Primary : EnumEducation.Middel
        }).ToList();
    }
}
